/.vs
/*/bin
/*/obj
/*/*.user
/*/Properties/PublishProfiles/*.user
/DemoProgressBarAPI/YoutubeDonload
/DemoProgressBarAPI/YoutubeDonloadZIP
/DemoProgressBarAPI/logs/*.txt
/DemoProgressBar/wwwroot/js/*/*.es5*.js
/DemoProgressBar/wwwroot/js/*.es5*.js
/DemoProgressBar/wwwroot/css/*.css
/DemoProgressBar/wwwroot/css/*/*.css
/DemoProgressBar/Pages/*/*.css
