@mixin card-hfset {
    height: 10vh;
    min-height: 50px;
    max-height: 70px;
}

@mixin pad {
    @media(max-width:768px) {
        @content;
    }
}




#app {
    font-size: 16px;

    .usersboard {
        /*max-width: 270px;*/
        max-width: 300px;

        @include pad {
            min-width: 80px;
        }

        .card {

            .card-header, .card-footer {
                @include card-hfset;
            }

            .card-header {
                .userinfo{
                    .pic{
                        max-height:50px;
                        max-width:50px;
                    }
                }
            }

            .card-body {
                min-width: 80px;



                .useritem {
                    cursor: pointer;

                    .item-center {
                        font-size: 0.9rem;
                    }

                    .otherinfo {
                        .noread {
                            font-size: 0.7rem;
                        }
                    }

                    &.active {
                        background-color: dodgerblue
                    }

                    &:hover {
                        background-color: lightskyblue
                    }
                }
            }
        }
    }

    .talkboard {
        min-width: 80px;

        .card {

            .card-header, .card-footer {
                @include card-hfset;
            }

            .card-body {
                .talkboard-body {
                    max-width: 45%;
                    height: auto;
                    font-size: 1rem;
                }

                .messageself {
                    background-color: springgreen;
                }

                .messageorther {
                    background-color: floralwhite;
                }

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}