@page
@model DemoProgressBar.Pages.ChatRoom.IndexModel

<div id="app" class="row g-0">
    <div id="UsersBoard" class="usersboard col-3">
        <div class="card border border-2">
            <div class="card-header">
                {{connectionid}}
            </div>
            <div class="card-body p-0 overflow-auto" :model="chatlist">
                <div class="useritem row g-0 border rounded-2 p-1" v-bind:class="{'active':user.connectionID === nowtalkid}" v-for="user in chatlist" @@click="talkselect(user.connectionID)">
                    <img class="pic col-12 col-md-3 img-thumbnail rounded-circle p-1" src="https://storage.googleapis.com/www-cw-com-tw/article/201810/article-5bd182cf13ebb.jpg">
                    <span class="message col-auto me-auto m-1 fs-6 d-none d-md-block">aaa</span>
                    <div class="otherinfo col-2 d-md-block d-none d-md-block position-relative">
                        @* <span class="noread position-absolute top-50 start-50 translate-middle badge bg-primary rounded-pill" style="text-align: center; display:block">14</span> *@
                        <span class="badge bg-primary rounded-pill position-absolute top-50 start-50 translate-middle noread" v-if="user.noReadCount>0">{{user.noReadCount}}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                @* {{connectionid}} *@
            </div>
        </div>
    </div>
    <div id="TalkBoard" class="talkboard col-9">
        <div class="card border border-2">
            <div class="card-header">
                
            </div>
            <div class="card-body overflow-auto" ref="scrollContainer" :model="nowtalk">
                <div class="d-flex" v-bind:class="text.talkid == connectionid? 'justify-content-end':'justify-content-start'" v-for="text in nowtalk">
                    <p class="talkboard-body border border-1 rounded rounded-2  badge fs-6 text-wrap text-start"
                       v-bind:class="text.talkid == connectionid? 'bg-success':'bg-light text-dark'">
                        {{text.message}}
                    </p>
                </div>
            </div>
            <div class="card-footer align-items-center">
                <input class="form-control" @@keydown.enter.native="sendmessage" v-model="keyonmessage" v-bind:disabled="!nowtalkid" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/chatroom/chatroom.js" asp-append-version="true"></script>
}