@page
@*@model DemoProgressBar.Pages.ChatRoom.IndexModel*@
@inject IConfiguration Configuration;

<div id="app" class="row g-0 ">
    <div id="UsersBoard" class="usersboard col-1 col-md-3">
        <div class="card d-flex p-0 flex-column h-100">
            <div class="card-header p-0 d-flex flex-row justify-content-center">
                <img class="pic rounded-circle border-1 p-1" src="https://fakeimg.pl/30/">
                <strong class="name col-0 text-truncate d-none d-md-block align-self-center"> {{connectionid}}</strong>
            </div>
            <div class="card-body p-0 overflow-auto flex-grow-1" :model="chatlist">
                <div class="useritem row g-0 border rounded-2 p-1"
                     v-bind:class="{'active':user.connectionID === nowtalkid}"
                     v-for="user in chatlist" @@click="talkselect(user.connectionID)">

                    <img class="item-pic col-12 col-md-3 img-thumbnail rounded-circle border-1 p-1" :src="user.imgPath">
                    
                    <div class="item-center col-7 col-md-7 m-0 p-2 d-none d-md-block align-items-center">
                        <strong class="d-block text-truncate">{{user.connectionID}}</strong>
                        <small class="d-block text-truncate">{{user.lastMesage}}</small>
                    </div>

                    <div class="otherinfo col-2 col-md-2 d-none d-md-block position-relative">
                        <span class="badge bg-primary rounded-pill position-absolute top-50 start-50 translate-middle noread" 
                              v-if="user.noReadCount>0">
                              {{user.noReadCount}}
                        </span>
                    </div>

                </div>
            </div>
            <div class="card-footer mt-auto">
                @* {{connectionid}} *@
            </div>
        </div>
    </div>
    <div id="TalkBoard" class="talkboard col">
        <div class="card d-flex flex-column h-100 ">
            <div class="card-header">
                
            </div>
            <div class="card-body overflow-auto flex-grow-1" ref="scrollContainer" :model="nowtalk">
                <div class="messagebar d-flex mb-2" v-bind:class="text.talkid == connectionid? 'flex-row-reverse':' flex-row'" v-for="text in nowtalk">
                    <img class="userimg img-thumbnail border-1" src="https://fakeimg.pl/50/">

                    <p class="talkboard-body border-1 rounded-2 p-1 mx-2 my-auto text-wrap text-start flex-md-column align-self-center"
                       v-bind:class="text.talkid == connectionid? 'messageself':'messageorther'">
                        {{text.message}}
                    </p>
                </div>
            </div>
            <div class="card-footer align-items-center mt-auto">
                <input class="form-control" @@keydown.enter.native="sendmessage" v-model="keyonmessage" v-bind:disabled="!nowtalkid" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var API_BASE='@Configuration["APIsetting:BaseUrl"]';
        var ChatHubUri= '@Configuration["APIsetting:ChatHubUri"]';
        var appSettings = {

            ChatHubUrl: new URL(ChatHubUri, API_BASE).href
        };
        console.log(appSettings);
    </script>
    <script src="~/js/ChatRoom/ChatRoom.js" asp-append-version="true"></script>
    <script>
        // 在窗口大小改變時 動態設定聊天室窗的高度與寬度
        window.addEventListener('resize', function () {
            setTalkboardHeight();
            setTalkboardWidth();
        });

        // 頁面載入時，動態設定聊天室窗的高度與寬度
        window.addEventListener('load', function () {
            setTalkboardHeight();
            setTalkboardWidth();
        });

        function setTalkboardHeight() {
            var headerHeight = document.querySelector('header').offsetHeight;
            
            var windowHeight = window.innerHeight;
            //console.log('windowHeight:' + windowHeight);
            var talkboardHeight = windowHeight - headerHeight;

            document.getElementById('TalkBoard').style.height = talkboardHeight + 'px';
            document.getElementById('UsersBoard').style.height = talkboardHeight + 'px';
        }

        function setTalkboardWidth() {
            var userboardWidth = document.getElementById('UsersBoard').offsetWidth;
            
            var windowWidth = window.innerWidth;
            //console.log('windowWidth:' + windowWidth);
            var talkboardWidth = windowWidth - userboardWidth;

            document.getElementById('TalkBoard').style.width = talkboardWidth + 'px';
        }
    </script>
}