#app {
  font-size: 16px;
}
#app .usersboard {
  /*max-width: 270px;*/
  max-width: 300px;
}
@media (max-width: 768px) {
  #app .usersboard {
    min-width: 80px;
  }
}
#app .usersboard .card .card-header, #app .usersboard .card .card-footer {
  height: 10vh;
  min-height: 50px;
  max-height: 70px;
}
#app .usersboard .card .card-header .userinfo .pic {
  max-height: 50px;
  max-width: 50px;
}
#app .usersboard .card .card-body {
  min-width: 80px;
}
#app .usersboard .card .card-body .useritem {
  cursor: pointer;
}
#app .usersboard .card .card-body .useritem .item-center {
  font-size: 0.9rem;
}
#app .usersboard .card .card-body .useritem .otherinfo .noread {
  font-size: 0.7rem;
}
#app .usersboard .card .card-body .useritem.active {
  background-color: dodgerblue;
}
#app .usersboard .card .card-body .useritem:hover {
  background-color: lightskyblue;
}
#app .talkboard {
  min-width: 80px;
}
#app .talkboard .card .card-header, #app .talkboard .card .card-footer {
  height: 10vh;
  min-height: 50px;
  max-height: 70px;
}
#app .talkboard .card .card-body .messagebar .userimg {
  max-height: 50px;
  max-width: 50px;
}
#app .talkboard .card .card-body .talkboard-body {
  max-width: 45%;
  height: auto;
  font-size: 1rem;
}
#app .talkboard .card .card-body .messageself {
  background-color: springgreen;
}
#app .talkboard .card .card-body .messageorther {
  background-color: lightgray;
}
#app .talkboard .card .card-body::-webkit-scrollbar {
  display: none;
}
