#app {
    height: 100%;

    .usersboard {
        height: 100%;

        .card {
            height: 100%;
            width: 100%;

            .card-header, .card-footer {
                height: 8vh;
                min-height: 50px;
            }

            .card-body {
                height: 100%;

                .useritem {
                    cursor: pointer;

                    .pic {
                        min-width: 60px;
                        min-height: 60px;
                    }

                    .otherinfo {
                        .noread {
                            font-size: 0.7rem;
                        }
                    }

                    &.active,
                    &:hover{
                        background-color:lightskyblue
                    }
                }
            }
        }
    }

    .talkboard {
        .card {
            height: 100%;

            .card-header, .card-footer {
                height: 8vh;
                min-height: 50px;
            }

            .card-body {
                height: 100%;

                .talkboard-body {
                    max-width: 45vw
                }
            }
        }
    }
}
