* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /*position: relative;*/
    height:100%;
    body {
        height:100%;
    }
}

@mixin pad {
    @media(max-width:768px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:375px) {
        @content;
    }
}

html {
    @include pad {
        font-size: 16px;
    }
}

/*html {
  position: relative;
  min-height: 100%;
}*/

