:root {
    --puddinghead-color: #6c0609;
    --puddingbody-color:#faf49c
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*
.bg-puttingbody{
    background-color:var(--puddingbody-color) ;
}

.bg-puttinghead {
    background-color: var(--puddinghead-color);
}*/
@media(perfers-color-scheme:dark){
    body{background:#333;color:#fff}
}

html {
    /*position: relative;*/
    height: 100%;

    body {
        height: 100%;
    }
}

@mixin pad {
    @media(max-width:768px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:375px) {
        @content;
    }
}

html {
    @include pad {
        font-size: 16px;
    }
}

.zoomimage {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

/*html {
  position: relative;
  min-height: 100%;
}*/

